<kendo-grid [data]="list" [pageable]="{ pageSizes: state.pageSizes }" [pageSize]="state.pageSize" [skip]="state.skip"
	(dataStateChange)="dataStateChanged($event)" [scrollable]="'none'">
	<kendo-grid-column field="name" title="{{ '_Name' | translate }}"></kendo-grid-column>
	<kendo-grid-column field="nationality" title="{{ '_Nationality' | translate }}"></kendo-grid-column>
	<kendo-grid-column field="booksRead" title="{{ 'AuthorList_BooksRead' | translate }}"></kendo-grid-column>
	<kendo-grid-column field="averageRating" title="{{ 'AuthorList_AverageRating' | translate }}">
		<ng-template kendoGridCellTemplate let-dataItem>
			<div class="star-rating">
				<ngx-stars [readonly]="true" [maxStars]="10" [initialStars]="dataItem.averageRating"
					[color]="'#550022'">
				</ngx-stars>
			</div>
		</ng-template>
	</kendo-grid-column>
</kendo-grid>